page-widthdraw-modal {
    $dark: #fabd05;

    .vertical-align-content > *
    {
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
     
    }
}
