page-transfer-popover {

    $dark:#005194;
    $text:#ffffff;
    $popover-md-border-radius:0px;
    
    .popover-header{
        background-color:$dark;
        color: $text;
        border: none;
    }

    .popover-text{
    border: none;
    }

    .novo-popover{
        border: none;
        height: 100%;
    }

    .popover-icon{
        font-size: 35px;
    }

    .popover-button{
    
        border: none;
    }

}


