page-service-modal {
    $dark:#fabd05;
    .avatar{
        height: 200px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        background-color: #000000
    }


    .selected-avatar{
        height: 200px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }


    .img-container{
        width: 100%;
        height: 100%;
        padding-top: 15px;

    }

    .select-company{
        color: #000000;
        padding-top: 5%;
        background-color: $dark;
    }

    ion-select {
        width: 300px;
    }
}
