// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
 $dark:#005194;

.novo-card{
 
  height: 200px;
  width: 317px;
 // background-color: #fff;
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: 15%;
  background-color: #000000;

  margin-left: auto;
  margin-right: auto;
  display: block;
}

.popover-md{
  border: none;

}

 .avatar{
        height: 200px;
        width: 200px;
        font-size: 100px;
        border-radius: 50%;
        background-color: #000000;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content:center;
        align-content:center;
        flex-direction:column; 


    }

    .letter-avatar {
        margin-left: auto;
        margin-right: auto;
        font-size: 50px;
    }

    .img-container{
        width: 100%;
        height: 100%;
        padding-top: 15px;

    }

    .select-company{
        color: #000000;
        padding-top: 5%;
        background-color: $dark;
    }

    ion-select {
        width: 300px;
    }




.novo-background{
    background-color: #ecf0f1;
    height: 100%;
}


.novo-card img {
    position: relative;
    float: right;
    bottom:5px;
    right:5px;
    margin-right:0; 
    margin-top: 15%;
    height: 28%;
    width: 28%;
}



.novo-background{
 background:$dark;
}




.popover-ios .popover-arrow::after{
   background: $dark;
}



.ion-header::after {
background-image: none;
}

.novo-logo {
  height: auto;
  max-width: 200px;
  margin:0 auto;
}

.title-data {
  float: left;
}

.title-data > h1 {
  font-size: 30px;
  text-align: center;
}

.content-data  {
  float: right;
}

.col-data > h3 {
  color: #666;
}
.col-data > p {
  color: #b0b0b0;
}

.card-style {
  border-radius: 7px;
}

.card-holder{
  background-color: $dark;
  min-height: 250px;
  color: #fff;
  
}

.scroll-refresher .spinner{
  stroke: #fff;
}



.card-refresher{
  background-color: $dark;
  color: #fff; 

}


.card-refresher svg{
  background-color:$dark;
  color: #fff; 
  stroke: #fff;
  fill: #fff;
}


.slides-height {
  max-height: 35%;
}

.card-style ion-card-content ion-row ion-col {
  text-align: left;
}

.button-slides {
  opacity: 0.5;
}


.toolbar-background-ios{
  border-top:none;
  border-bottom:none;
  border: 0;
}



//Tarjeta Condepen

// TODO
// 1) Create back
// 2) Flip

/*
 * General o>
 *
 * ==================== */
* {
  box-sizing: border-box;
  //font-family: 'Consolas', monospace;
  font-size: 14px;
}


.container {
  background: linear-gradient(to bottom, #245e69, #85aeaa);
  bottom: 0;
  color: #e3e3e3;
  display: block;
  left: 0;
  padding-top: 40px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

h1 {
  font-size: 60px;
  font-weight: normal;
}

/*
 * The Card
 *
 * ==================== */
.cc,
.cc-back {
  //background: linear-gradient(to left, #70257b, #8a2c94);
  background-color: #000000;
  border-radius: 10px;
  display: block;
  height: 205px;
  letter-spacing: .1rem;
  margin: 20px auto;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  width: 350px;
}

.chip {
  background: #efb77f;
  border-radius: 5px;
  display: block;
  height: 30px;
  left: 30px;
  position: absolute;
  top: 50px;
  width: 40px;
}

.nubank-logo {
  //background-image: url('https://www.nubank.com.br/images/eeb5478f.header_logo.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 80px;
  display: block;
  filter: grayscale(100%);
}
.nubank-logo:after {
  background: linear-gradient(#eee, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  content: '30.000 Bs';
  display: block;
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
}

.cc-balance{
  display: block;
  text-align: center;
  padding-top: 40px;
  background: linear-gradient(#eee, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  left: 30px;
  text-align: center;

}


.cc-number {
  background: linear-gradient(#eee, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  bottom: 80px;
  font-size: 20px;
  left: 30px;
  position: absolute;
  text-align: center;
}

.cc-date {
  background: linear-gradient(#eee, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  bottom: 40px;
  left: 30px;
  position: absolute;
}

.cc-date.expiry {
  left: 125px;
}
.cc-date.expiry:after {
  -webkit-text-fill-color: #ffffff;
  content: 'Valid thru';
  font-size: 8px;
  left: -3px;
  position: absolute;
  text-transform: none;
  top: -10px;
}

.cc-date.expedition:after {
  -webkit-text-fill-color: #ffffff;
  content: 'Since';
  font-size: 8px;
  left: -2px;
  position: absolute;
  text-transform: none;
  top: -10px
}

.cc-name {
  background: linear-gradient(#eee, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  bottom: 15px;
  left: 30px;
  position: absolute;
}

/*
 * Card back
 */
.cc-magnet {
  background-color: #c0c0c0;
  display: block;
  height: 30px;
  position: absolute;
  top: 15%;
  width: 100%;
}

/*
 * MasterCard logo in pure CSS in just ONE element
 * by Jaime Caballero (jaicab.com)
 */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:700);

$mcd-red: #cd0001;
$mcd-orange: #fe9900;
$cirrus-dark-blue: #345399;
$cirrus-light-blue: #0085c6;

$mcd-width: 6rem;
$mcd-height: $mcd-width * 3/5;

.mastercard{
  font-family: "Droid Sans", Helvetica, sans-serif;
  position: absolute;
  width: $mcd-width;

  font-size: 10px;
  line-height: $mcd-height;
  letter-spacing: -$mcd-width/75;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-shadow: -$mcd-height/75 $mcd-height/75 0 #16226a;
  text-transform: none;
  top: 14px;
  //top: -45px;
  right: 30px;
  margin: 20vh auto;
  z-index: 2;

  //Circles here
  &::before{
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: inline-block;
    border-radius: 50%;
    width: $mcd-height;
    height: $mcd-height;
    z-index: -1;

    //Gradient
    background: linear-gradient($mcd-orange 50%, $mcd-red 50%);
    background-size: $mcd-height/8 $mcd-height/8;

    //A shadow for the red one (inset) and another for the orange one
    box-shadow: ($mcd-width - $mcd-height) 0 0 0 $mcd-orange,
            ($mcd-width - $mcd-height) 0 0 0 $mcd-red inset;
  }

  //Registered trademark
  //&::after{
  //  content: '\00ae';
  //  padding-left: .5em;
  //
  //  font: .25em Helvetica,sans-serif lighter normal;
  //  text-shadow: none;
  //}
}

.cirrus{
  font-family: "Droid Sans", Helvetica, sans-serif;
  position: absolute;
  width: 4em;

  font-size: 12px;
  line-height: $mcd-height/1.5;
  letter-spacing: -$mcd-width/75;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-shadow: -$mcd-height/75 $mcd-height/75 0 #16226a;
  text-transform: none;
  top: -20px;
  left: 15px;
  margin: 20vh auto;
  z-index: 2;

  //Circles here
  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    border-radius: 50%;
    width: $mcd-height/1.5;
    height: $mcd-height/1.5;
    z-index: -1;

    //Gradient
    background: linear-gradient($cirrus-light-blue 50%, $cirrus-dark-blue 50%);
    background-size: $mcd-height/8 $mcd-height/8;

    //A shadow for the red one (inset) and another for the orange one
    box-shadow: (($mcd-width - $mcd-height)/1.5) 0 0 0 $cirrus-light-blue,
            (($mcd-width - $mcd-height)/1.5) 0 0 0 $cirrus-dark-blue inset;
  }

  //Registered trademark
  &::after{
    content: '\00ae';
    font: .25em Helvetica,sans-serif lighter normal;
    padding-left: .5em;
    text-shadow: none;
  }
}

.novo-masterCard img {
  max-height: 150%;
  margin-top: -40px;
  padding-right: 5%;
  position:absolute;
  bottom:5px;
  right:5px;
  width: 35%;
  height: 35%;

}

.novo-masterCard {
  margin-left: 35%;

  //top: 14px;
  //right: 30px;
  //margin: 8vh auto;
  //z-index: 2;
  //line-height: $mcd-height;
  //letter-spacing: -$mcd-width/75;

}
.outcome-swap{
  color:red
}
.income-swap{
  color:green
}

.novo-background-login{
  position: relative;
  height: 100%;
  width: 100%;
  background-image:url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.ws,
.md,.ios {
  .back-button {
            color: #ffaf0f;
        }
}